@use '../../../../scss/settings/color-variables.scss' as *;

.auth-main {
  position: relative;

  .auth-wrapper {
    height: 100%;
    width: 100%;
    min-height: 100vh;

    .saprator {
      position: relative;
      display: flex;
      align-self: center;
      justify-content: center;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--bs-border-color);
        z-index: 1;
      }

      span {
        font-size: 0.875rem;
        padding: 8px 24px;
        background: $white;
        z-index: 5;
        text-transform: capitalize;
        color: $gray-800;
        font-weight: 500;
      }
    }

    &.v3 {
      display: flex;
      align-items: center;
      justify-content: center;

      .auth-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: url('../../../../assets/images/NeuroGuard.png');
        min-height: 100vh;
        width: 100%;
        padding: 24px; 
        background-repeat: no-repeat;
        background-size: auto 82%;
        background-position: left bottom;
        position: relative;
        > * {
          position: relative;
          z-index: 5;
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba($white, 0.2);
          backdrop-filter: blur(16px);
        }
      }
    }
    .auth-form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      .card {
        width: 100%;
        max-width: 495px;
        box-shadow: none;
        margin: 0;
      }

      img + span {
        padding-left: 15px;
      }

      h5 {
        span {
          text-decoration: underline;
        }
      }
    }
    .auth-footer,
    .auth-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

form i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px -12px 0px 0px;
  cursor: pointer;
  padding: 12px;
  font-size: 18px;
  position: absolute;
  top: 203px;
  right: 45px;
}
